{% extends "layout.html" %}



{%block body %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<br>
<section style="padding-top: 5%; padding-bottom: 4px;" class="content-section text-center">
	<div class="jumbotron">
      <div class="row" style="height: 390px;">
        <!-- question part -->
        <div style="background: white; color: black;" class="col-lg-6 mx-auto">
          <h2 style="padding-top: 20px">Question</h2>
          <form action="/quesCheck/" style="margin-top: 110px;" method="post">
            <div class="field-wrap">
              {% if question %}
              <label>
                {{ question[1] }}
              </label>
              <p>Hint : {{question[2]}}</p>
              <input type="text" name="ans" required autocomplete="off" value="{{request.form.ans}}"/>
              <input type="hidden" name="id" value="{{question[0]}}"/>
              <input type="hidden" name="difficulty" value="{{question[3]}}"/>
              <input type="hidden" name="subject" value="{{question[4]}}"/>
              <button class="button button-block btn-primary" type="submit" />Submit</button>
              {% endif %}
            </div>
          </form>
        </div>
        <!-- suggestion and response part -->
        <div style="background: black;" class="col-lg-5 mx-auto">
          <div class="row">
            
          </div>
          <div id="plot" height="100px" class="row">
            
          </div>
        </div>
      </div>
    </div>
</section>
<script type="text/javascript">
  var trace = {
    x: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 
    y: {{solved}}, 
    type: 'scatter'
  };
  var layout = {
    width: 550,
    height: 390,
    title: 'Performance',
    xaxis: {
      title: 'No. of Questions'
    },
    yaxis: {
      title: 'Accuracy'
    }
  };
  data = [trace];
  Plotly.newPlot('plot', data, layout);
</script>>
{% endblock %}