<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vikas Education System</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/grayscale.css')}}">
     <!-- Bootstrap core JavaScript -->
   
  </head>

  <body id="page-top">
    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Vikas Education System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login/">Login/SignUp</a>
            </li>
          </ul>
        </div>
      </div>
</nav>

{% block body %}

{% endblock %}

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Vikas Education 2018</p>
      </div>
    </footer>

    <script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-easing/jquery.easing.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/grayscale.js')}}"></script>
  
  </body>

</html>

