<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>
            {% block title %}{% endblock %}
        </title>

        <!-- CSS -->
        <link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/grayscale.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body id="page-top">
        <!-- Navigation -->
        {% include 'includes/_navbar.html' %}

        <!-- Body -->
        {% block body %}{% endblock %}

        <!-- Footer -->
        {% include "includes/_footer.html" %}
    
        <!-- scripts -->
        <script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/jquery-easing/jquery.easing.min.js')}}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>